<div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
  </ul>
</div>
<a class="btn btn-success" [routerLink]="['/add-prop']">Add Property</a>
<div *ngIf="props">
  <ul class="list-group">
    <li class="list-group-item room" *ngFor="let prop of props">
      <a [routerLink]="['/prop/'+prop.name]">{{prop.name}}</a>
      <ul class="list-group">
        <li>Address: {{prop.street}}, {{prop.city}}, {{prop.state}}, {{prop.country}}</li>
        <li>Type: {{prop.type}}</li>
        <li>Manager: {{prop.manager}}</li>
      </ul>
    </li>
  </ul>
</div>
