<a [routerLink]="['/account']">Back</a>
<h2 class="page-header">Edit Room</h2>
<form (submit)="onEditRoomSubmit()">
  <div class="form-group">
    <label>Title (Name/Number)</label>
    <input class="form-control" type="text" [(ngModel)]="title" name="title">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input class="form-control" type="text" [(ngModel)]="price" name="price" required>
  </div>
  <div class="form-group">
    <label>Beds</label>
    <input class="form-control" type="number" [(ngModel)]="beds" name="beds" required>
  </div>
  <div class="form-group">
    <label>Max Occupants</label>
    <input class="form-control" type="number" [(ngModel)]="occupants" name="occupants" required>
  </div>
  <div class="form-group">
    <label>Smoking</label>
    <select class="form-control" type="text" [(ngModel)]="smoking" name="smoking" required>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </div>
  <div class="form-group">
    <label>Pet Policy</label>
    <select class="form-control" type="text" [(ngModel)]="pets" name="pets" required>
      <option value="Allowed">Allowed</option>
      <option value="Not Allowed">Not Allowed</option>
    </select>
  </div>
  <div class="form-group">
    <label>Additional Information</label>
    <input class="form-control" type="text" [(ngModel)]="additional" name="additional">
  </div>
  <input type="submit" value="submit" class="btn btn-success">
</form>
