<div *ngIf="prop">
  <a [routerLink]="['/account']">Go Back</a>
  <h2 class="page-header">{{prop.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Address: {{prop.street}}, {{prop.city}}, {{prop.state}}, {{prop.country}}</li>
    <li class="list-group-item">Type: {{prop.type}}</li>
    <li class="list-group-item">Manager: {{prop.manager}}</li>
  </ul>
  <a class="btn btn-default" [routerLink]="['/edit-prop/'+prop.name]">Edit</a>
  <a class="btn btn-danger" (click)="onDeleteClick()">Delete</a>
</div>
<a class="btn btn-success" [routerLink]="['/add-room/'+this.name]">Add Unit</a>
<div *ngIf="rooms">
  <ul class="list-group">
    <li class="list-group-item room" *ngFor="let room of rooms">
      <a [routerLink]="['/room/'+room.title]">{{room.title}}</a>
      <ul class="list-group">
        <li>Price: {{room.price}}</li>
        <li>Beds: {{room.beds}}</li>
        <li>Max Occupants: {{room.occupants}}</li>
        <li>Smoking Policy: {{room.smoking}}</li>
        <li>Pet Policy: {{room.pets}}</li>
      </ul>
    </li>
  </ul>
</div>
